In [1]:
pip install faker --q

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from faker import Faker
import random
import string
from datetime import datetime
import string
from datetime import datetime, timedelta

In [3]:
def generate_customer_data(num_records):
    customers = []
    for _ in range(num_records):
        customer_id = ''.join(random.choices(string.ascii_uppercase + string.digits, k=8))
        name = fake.name()
        date_of_birth = fake.date_of_birth(minimum_age=18, maximum_age=80)
        city = fake.city()
        state = fake.state()
        country = fake.country()
        postal_code = fake.postalcode()
        phone = fake.phone_number()
        email = fake.email()
        date_entered = fake.date_this_year()
        customers.append({
            'customer_id': customer_id,
            'name': name,
            'date_of_birth': date_of_birth,
            'city': city,
            'state': state,
            'country': country,
            'postal_code': postal_code,
            'phone': phone,
            'email': email,
            'date_entered': date_entered
        })
    return pd.DataFrame(customers)

In [4]:
fake = Faker()

In [5]:
customers_df = generate_customer_data(100)
customers_df

,customer_id,name,date_of_birth,city,state,country,postal_code,phone,email,date_entered
0,PT9538IN,Robert Woodard,1955-10-30,Richardsonstad,Idaho,Nicaragua,59250,+1-820-232-0702,taylorjacqueline@example.org,2024-03-22
1,RNZOW0RD,Danny Allen,1961-12-08,North Wesley,North Dakota,Antarctica (the territory South of 60 deg S),78311,+1-749-329-0037,austinryan@example.com,2024-01-29
2,TVB8W6ZG,Rachel Roberts,1979-02-24,South Donnaville,North Carolina,Greece,87407,208.898.7984x613,morajustin@example.com,2024-03-26
3,V1IUNOAR,Paul Maldonado,1990-04-23,South Amy,Nebraska,Yemen,55094,(565)891-1995,jonathanleach@example.net,2024-04-23
4,HR3NXMAK,Linda Mcguire PhD,1987-07-23,Mcconnellberg,Michigan,Singapore,31067,433.923.4706,ibailey@example.org,2024-02-29
...,...,...,...,...,...,...,...,...,...,...
95,SQ821AW4,Gabriela Brock,1975-10-08,Sullivantown,Delaware,Cocos (Keeling) Islands,49762,(597)286-2979x098,charleschung@example.org,2024-01-22
96,0PJXOLP5,Dwayne Gutierrez,1971-02-19,Heidiberg,Louisiana,Guinea,12921,2427219351,patricia06@example.net,2024-02-29
97,0FVSE7IA,Hannah Robles,1994-02-25,Johnathanmouth,West Virginia,Guinea-Bissau,00565,650.590.7381,davidbush@example.org,2024-02-20
98,SLMVE61T,Sheila Goodman,1967-03-18,South Jeffery,South Carolina,Guinea-Bissau,69085,(319)442-2314x97609,mercertheresa@example.org,2024-03-31
99,WYSBCJP5,Robert Carter DDS,2003-01-18,Stanleymouth,Virginia,Tunisia,97129,+1-971-619-1688,jacksonthomas@example.net,2024-04-16

In [6]:
customers_df_csv = customers_df.to_csv('customers_df.csv', index=False)

In [7]:
def generate_category_data():
    category = []
    pipe_categories = [
    "PVC Pipes", "CPVC Pipes", "UPVC Pipes", "PEX Pipes", "HDPE Pipes", 
    "LDPE Pipes", "PPR Pipes", "Galvanized Steel Pipes", "Stainless Steel Pipes", 
    "Copper Pipes", "Aluminum Pipes", "Concrete Pipes", "Cast Iron Pipes", 
    "Ductile Iron Pipes", "Polypropylene Pipes"]
    for i in (pipe_categories):
        category_id = fake.uuid4()
        CategoryName = i
        category.append({'category_id': category_id, 'CategoryName': CategoryName})
    return pd.DataFrame(category)

In [8]:
category_df = generate_category_data()
category_df

                             category_id            CategoryName
0   947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2               PVC Pipes
1   1c5d3e4b-fc8d-410d-8716-0ee17db7e95b              CPVC Pipes
2   adc621ef-594f-4e7f-b385-856374e5dbfb              UPVC Pipes
3   fa4aaf75-b3eb-449d-9a68-85c3a9dc43b9               PEX Pipes
4   a80e36d8-053c-46d4-970a-736306bc5db2              HDPE Pipes
5   d653b98b-bf5b-4f5a-9386-05fe11f5566e              LDPE Pipes
6   5992d164-f976-4251-b6d7-d0300ea89302               PPR Pipes
7   420f2c0b-ca85-45b2-8fb0-09674d193224  Galvanized Steel Pipes
8   23e04cf0-7fdd-4fb5-8674-d3292af98844   Stainless Steel Pipes
9   6a8f776a-18bf-4a54-aa22-c1a665c6fb6c            Copper Pipes
10  e5d3e91d-f121-43d5-8ada-da6de42b7a10          Aluminum Pipes
11  911c1082-c4fe-4409-b4a6-1f0a4954a2c2          Concrete Pipes
12  4a248ece-5b18-4253-998d-adfb1dc5b767         Cast Iron Pipes
13  88a37cad-1460-4561-80ea-9c61eb3ffa8e      Ductile Iron Pipes
14  b84069c3-ade2-4403-886b-fd5a6c79f8ec     Polypropylene Pipes

In [9]:
category_df_csv = category_df.to_csv('category_df.csv', index=False)

In [10]:
# Generate product data
def generate_product_data(category_df):
    products = []
    pipe_names = [
    "FlowGuard Gold CPVC Pipe", "AquaPex PEX Pipe", "Duraflex PVC Pipe", "MegaFlow HDPE Pipe", 
    "ProGuard UPVC Pipe", "ThermoShield PPR Pipe", "TitanGalv Galvanized Steel Pipe", 
    "UltraPure Stainless Steel Pipe", "CopperFlex Pipe", "AlumaStrong Aluminum Pipe", 
    "ConcreteMax Pipe", "CastIron Classic Pipe", "DuctileForce Iron Pipe", 
    "PolyFlow Polypropylene Pipe", "FlexiDrain LDPE Pipe"
]

    for i in(pipe_names):
        product_id =''.join(random.choices(string.ascii_uppercase + string.digits, k=9))
        product_name = i
        category_id = random.choice(category_df['category_id'])
        price = random.randint(1000, 10000)
        products.append({'product_id': product_id, 'product_name': product_name, 'category_id': category_id,'price': price})
    return pd.DataFrame(products)

In [11]:
product_df = generate_product_data(category_df)
product_df

,product_id,product_name,category_id,price
0,4EY909UJP,FlowGuard Gold CPVC Pipe,911c1082-c4fe-4409-b4a6-1f0a4954a2c2,8588
1,L2KQWAARW,AquaPex PEX Pipe,947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2,4849
2,J1MZAYHBF,Duraflex PVC Pipe,911c1082-c4fe-4409-b4a6-1f0a4954a2c2,4476
3,RZ4ZCRP1Q,MegaFlow HDPE Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,9831
4,6XZGQYLRG,ProGuard UPVC Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,9371
5,VC668QOZO,ThermoShield PPR Pipe,e5d3e91d-f121-43d5-8ada-da6de42b7a10,9401
6,7J4S9UCZW,TitanGalv Galvanized Steel Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,2385
7,N1NGKMAHG,UltraPure Stainless Steel Pipe,e5d3e91d-f121-43d5-8ada-da6de42b7a10,8580
8,0UILGE2CK,CopperFlex Pipe,947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2,4317
9,H2TQ7CM1R,AlumaStrong Aluminum Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,3194
10,WRFI7FSY8,ConcreteMax Pipe,d653b98b-bf5b-4f5a-9386-05fe11f5566e,8425
11,ZLTDN9N8M,CastIron Classic Pipe,911c1082-c4fe-4409-b4a6-1f0a4954a2c2,5430
12,U5I9WW50N,DuctileForce Iron Pipe,b84069c3-ade2-4403-886b-fd5a6c79f8ec,1503
13,12ANLRRNX,PolyFlow Polypropylene Pipe,947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2,3891
14,B2P7BXH60,FlexiDrain LDPE Pipe,420f2c0b-ca85-45b2-8fb0-09674d193224,1373

In [12]:
product_df_csv = product_df.to_csv('product_df.csv', index=False)

In [13]:
def generate_payments_data(num_records):
    payments = []
    payment_types = ['Credit Card', 'Debit Card', 'Net Banking', 'UPI']
    for _ in range(num_records):
        payment_id = fake.uuid4()
        Type = random.choice(payment_types)
        payments.append({'payment_id': payment_id, 'Type': Type})
    return pd.DataFrame(payments)

In [14]:
payments_df = generate_payments_data(100)
payments_df

                              payment_id         Type
0   63035ccf-e7af-4cdf-a83d-1f89240f046c          UPI
1   5ce8235f-fa48-4bb2-a452-9f6cdac37d99  Net Banking
2   a8de9de6-eae0-4625-9d62-c288f15d278b  Credit Card
3   e89bab54-65bc-41e9-9073-8c004fcf2357  Credit Card
4   df89f848-c3af-4435-b2ea-35ed04188c13   Debit Card
..                                   ...          ...
95  706be7b4-3570-4c2d-91be-3f58702b4ab2  Credit Card
96  add0cdf0-ab7b-4863-9473-3edf6a4d34e8  Net Banking
97  b472ad1f-5288-435a-933a-ad25b4d8914e          UPI
98  c960597a-6c90-4c7b-8b7f-5eced7c0a652  Net Banking
99  c69f2868-fe0e-41ce-b450-4bfbccf85413  Net Banking

[100 rows x 2 columns]

In [15]:
payments_df_csv = payments_df.to_csv('payments_df.csv', index=False)

In [16]:
def generate_shippers_data():
    shippers = []
    shippers_com = ['Blue Dart', 'DTDC', 'Lufthansa Cargo','Fed Ex', 'Delhivery', 'COSCO - China Ocean Shipping Company','Hapag-Lloyd',
                'ONE - Ocean Network Express', 'Evergreen Line','Hyundai Merchant Marine']
    for i in shippers_com:
        shipper_id = fake.uuid4()
        conmanyName = i
        phone = fake.phone_number()
        shippers.append({'shipper_id': shipper_id, 'conmanyName': conmanyName, 'phone': phone})
    return pd.DataFrame(shippers)

In [17]:
shippers_df = generate_shippers_data()
shippers_df

,shipper_id,conmanyName,phone
0,00635192-9c26-47aa-ae6d-7fbde4b8ebb8,Blue Dart,001-225-869-3814x3484
1,c4222d76-1e59-486a-8420-a59aa1117712,DTDC,+1-605-286-5922x093
2,061f6dd6-489c-4a39-ad52-6887b648b541,Lufthansa Cargo,797.516.9419x45574
3,63fc8dae-7f58-4b01-b290-c4a2ede076aa,Fed Ex,386.938.1138x25321
4,3f2517df-ec47-43ca-9faf-0a7ca5441631,Delhivery,746-487-3355
5,ad162500-2290-4fb9-b5d0-48132cc11d1a,COSCO - China Ocean Shipping Company,927-532-3481x09292
6,2b3a7bf2-022c-409b-8cf9-740fc5551350,Hapag-Lloyd,(294)846-9808x250
7,245c339a-1e0e-4e65-87be-883397ec61a4,ONE - Ocean Network Express,242.551.2084x06708
8,51ccde78-1c40-4851-aa7c-9b4845a0518d,Evergreen Line,(375)279-4129x0113
9,68b5d010-a22b-4bc9-850f-11f469ad9266,Hyundai Merchant Marine,001-890-242-0117x567

In [18]:
shippers_df_csv = shippers_df.to_csv('shippers_df.csv', index=False)

In [19]:
def random_date(start_date, end_date):
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return start_date + timedelta(days=random_days)

In [20]:
def random_delivery_date(order_date, min_days=1, max_days=10):
    delta_days = random.randint(min_days, max_days)
    return order_date + timedelta(days=delta_days)

In [21]:
# Generate orders data
def generate_orders_data(num_records,customers_df, payments_df, shippers_df):
    Orders = []
    start_date = datetime(2021, 1, 1)
    end_date = datetime(2023, 12, 31)
    for _ in range(num_records):
        order_id = ''.join(random.choices(string.digits, k=5))
        customer_id = random.choice(customers_df['customer_id'])
        payment_id = random.choice(payments_df['payment_id'])
        order_date = random_date(start_date, end_date)
        shipper_id = random.choice(shippers_df['shipper_id'])
        delivery_date = random_delivery_date(order_date)
        total_order_amount = random.randint(5000, 20000)
        Orders.append({'order_id': order_id, 'customer_id': customer_id, 'payment_id': payment_id, 'order_date': order_date, 
                       'shipper_id':shipper_id, 'delivery_date': delivery_date, 'total_order_amount':total_order_amount})
    return pd.DataFrame(Orders)

In [22]:
orders_df = generate_orders_data(100,customers_df, payments_df, shippers_df)
orders_df

,order_id,customer_id,payment_id,order_date,shipper_id,delivery_date,total_order_amount
0,89100,WERUH1PC,899c8c25-24e0-42e3-97ea-3603f8a3af75,2022-08-02,c4222d76-1e59-486a-8420-a59aa1117712,2022-08-08,16946
1,87505,WYSBCJP5,75331728-d146-4bb7-b09e-c8a98f7575f0,2021-04-25,51ccde78-1c40-4851-aa7c-9b4845a0518d,2021-04-27,6186
2,95505,W2JRMN60,6b4a6590-dfd7-4e70-9a0a-6215bb3c9537,2021-12-18,c4222d76-1e59-486a-8420-a59aa1117712,2021-12-19,13680
3,05114,F9L9X5FW,e0551b66-7764-4e75-8be6-7bce9a593ec9,2022-12-10,245c339a-1e0e-4e65-87be-883397ec61a4,2022-12-12,12123
4,02965,IQVOSQRH,a0592947-db33-4289-b452-fc90e6822ab1,2022-08-31,061f6dd6-489c-4a39-ad52-6887b648b541,2022-09-05,18905
...,...,...,...,...,...,...,...
95,03960,PT9538IN,5ce8235f-fa48-4bb2-a452-9f6cdac37d99,2023-03-22,245c339a-1e0e-4e65-87be-883397ec61a4,2023-03-23,11102
96,77115,NYRXYXG1,b472ad1f-5288-435a-933a-ad25b4d8914e,2021-08-29,2b3a7bf2-022c-409b-8cf9-740fc5551350,2021-09-02,11347
97,14005,032WEO0U,4d0617e3-05df-430b-aa75-9ab6e38e72b4,2021-09-18,63fc8dae-7f58-4b01-b290-c4a2ede076aa,2021-09-20,10231
98,67939,TMUWND1W,4d0617e3-05df-430b-aa75-9ab6e38e72b4,2023-08-12,061f6dd6-489c-4a39-ad52-6887b648b541,2023-08-14,13027
99,01459,X5TCW3QI,df623982-834b-4088-a83c-4ac753e7019f,2022-10-15,51ccde78-1c40-4851-aa7c-9b4845a0518d,2022-10-23,14157

In [23]:
orders_df_csv = orders_df.to_csv('orders_df.csv', index=False)

In [24]:
def generate_orderdetails_data(num_records,orders_df, product_df):
    OrderDetails = []
    for _ in range(num_records):
        OrderDetails_id = fake.uuid4()
        orderid = random.choice(orders_df['order_id'])
        product_id = random.choice(product_df['product_id'])
        quantity = random.randint(1,10)
        OrderDetails.append({'OrderDetails_id': OrderDetails_id,'orderid':orderid, 'product_id': product_id, 'quantity':quantity})
    return pd.DataFrame(OrderDetails)

In [25]:
OrderDetails_df = generate_orderdetails_data(250,orders_df, product_df)
OrderDetails_df

                          OrderDetails_id orderid product_id  quantity
0    e9d68d43-662f-45e6-a98b-8149a80a7cc5   31682  B2P7BXH60         1
1    0d6130ea-7859-4d11-86ef-4fcf4fcff5da   55019  ZLTDN9N8M         7
2    65e8d27f-d38f-486c-9c91-785d41727cda   46152  L2KQWAARW         3
3    7adeba17-cab1-4c97-86b4-275e15fcf7d6   62565  L2KQWAARW         8
4    e71cefee-ab3b-4a3e-9cc1-60b601174850   79185  H2TQ7CM1R         4
..                                    ...     ...        ...       ...
245  aa19f2c3-f4d7-4594-aba5-9cc1a61d6ef8   06947  7J4S9UCZW         3
246  f639085c-f48e-4a19-a4db-f077263fc10b   60957  6XZGQYLRG        10
247  5d256516-e8c6-4b42-9d82-27a730535676   13724  WRFI7FSY8         7
248  cf0c78e4-58c5-4b11-bb2c-03b0ee8eb370   56480  VC668QOZO         4
249  a46bcae3-d38a-4d09-b7f2-e77d0308c699   51923  6XZGQYLRG         3

[250 rows x 4 columns]

In [26]:
OrderDetails_df_df_csv = OrderDetails_df.to_csv('OrderDetails_df.csv', index=False)

In [27]:
def generate_review_data(num_records, product_df, customers_df):
    review = []
    for _ in range(num_records):
        reviews_id = fake.uuid4()
        product_id = random.choice(product_df['product_id'])
        customer_id = random.choice(customers_df['customer_id'])
        rating = random.randint(1,5)
        review.append({'reviews_id': reviews_id, 'product_id': product_id, 'customer_id':customer_id, 'rating':rating})
    return pd.DataFrame(review)

In [28]:
reviews_df = generate_review_data(100,product_df, customers_df)
reviews_df

                              reviews_id product_id customer_id  rating
0   2c78608a-c958-4984-9e26-cc265d330f1e  VC668QOZO    T1YXW92G       3
1   e022014e-ed61-45d8-90e2-11fd8eb7ad29  U5I9WW50N    TMUWND1W       2
2   55745df3-6cce-4411-9340-753f9f194e80  VC668QOZO    X5TCW3QI       3
3   5a0aed78-ec4a-42c8-80aa-01c12c793663  H2TQ7CM1R    86HA3OOD       4
4   7e622a5a-0b77-4acc-ab2b-24678d4b9941  N1NGKMAHG    HDEZHB94       2
..                                   ...        ...         ...     ...
95  50f0c9c6-c077-4815-9f7d-f22b39be7fa7  WRFI7FSY8    URXUQLEB       5
96  af00a99f-b889-4166-82ef-be77e3d222f0  L2KQWAARW    S92DJGDD       4
97  552014b4-2643-4442-b05e-517cb290df46  7J4S9UCZW    F09D91DS       3
98  34a461d9-7d18-49ec-ab25-24beb8b4bd59  7J4S9UCZW    7L0H3AO6       1
99  8e98db7a-7c02-4b03-bc9a-cbd7dc8db000  0UILGE2CK    QHOP9FKT       1

[100 rows x 4 columns]

In [29]:
reviews_df_csv = reviews_df.to_csv('reviews_df.csv', index=False)