In [1]:
pip install mysql-connector-python --q

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import mysql.connector

In [4]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Mh20dk#1234567890"
)

# Create a cursor
cursor = conn.cursor()

# Create  database
cursor.execute("CREATE DATABASE IF NOT EXISTS RakshaPipes")
print("Database created successfully")

Database created successfully

In [5]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Mh20dk#1234567890",
    database="RakshaPipes"
)

In [6]:
cursor = conn.cursor()

In [7]:
from sqlalchemy import create_engine

# connection string
connection_string = 'mysql+pymysql://root:Mh20dk#1234567890@127.0.0.1:3306/RakshaPipes'

In [8]:
customers=pd.read_csv("customers_df.csv")
customers

,customer_id,name,date_of_birth,city,state,country,postal_code,phone,email,date_entered
0,PT9538IN,Robert Woodard,1955-10-30,Richardsonstad,Idaho,Nicaragua,59250,+1-820-232-0702,taylorjacqueline@example.org,2024-03-22
1,RNZOW0RD,Danny Allen,1961-12-08,North Wesley,North Dakota,Antarctica (the territory South of 60 deg S),78311,+1-749-329-0037,austinryan@example.com,2024-01-29
2,TVB8W6ZG,Rachel Roberts,1979-02-24,South Donnaville,North Carolina,Greece,87407,208.898.7984x613,morajustin@example.com,2024-03-26
3,V1IUNOAR,Paul Maldonado,1990-04-23,South Amy,Nebraska,Yemen,55094,(565)891-1995,jonathanleach@example.net,2024-04-23
4,HR3NXMAK,Linda Mcguire PhD,1987-07-23,Mcconnellberg,Michigan,Singapore,31067,433.923.4706,ibailey@example.org,2024-02-29
...,...,...,...,...,...,...,...,...,...,...
95,SQ821AW4,Gabriela Brock,1975-10-08,Sullivantown,Delaware,Cocos (Keeling) Islands,49762,(597)286-2979x098,charleschung@example.org,2024-01-22
96,0PJXOLP5,Dwayne Gutierrez,1971-02-19,Heidiberg,Louisiana,Guinea,12921,2427219351,patricia06@example.net,2024-02-29
97,0FVSE7IA,Hannah Robles,1994-02-25,Johnathanmouth,West Virginia,Guinea-Bissau,565,650.590.7381,davidbush@example.org,2024-02-20
98,SLMVE61T,Sheila Goodman,1967-03-18,South Jeffery,South Carolina,Guinea-Bissau,69085,(319)442-2314x97609,mercertheresa@example.org,2024-03-31
99,WYSBCJP5,Robert Carter DDS,2003-01-18,Stanleymouth,Virginia,Tunisia,97129,+1-971-619-1688,jacksonthomas@example.net,2024-04-16

In [9]:
# Create Customers table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customers (
    customer_id VARCHAR(100),
    name VARCHAR(255), 
    date_of_birth DATE,
    city VARCHAR(100),
    state VARCHAR(100),
    country VARCHAR(100),
    postal_code VARCHAR(20),
    phone VARCHAR(100),
    email VARCHAR(255),
    date_entered DATE
)
""")

In [10]:
pip install pymysql --q

Note: you may need to restart the kernel to use updated packages.

In [11]:
import pymysql

In [12]:
 engine = create_engine(connection_string)

In [13]:
customers.to_sql('Customers', con=engine, if_exists='append', index=False)

C:\Users\Akanksha\AppData\Local\Temp\ipykernel_50324\762371531.py:1: UserWarning: The provided table name 'Customers' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  customers.to_sql('Customers', con=engine, if_exists='append', index=False)

100

In [14]:
orders  = pd.read_csv("orders_df.csv")
orders

,order_id,customer_id,payment_id,order_date,shipper_id,delivery_date,total_order_amount
0,89100,WERUH1PC,899c8c25-24e0-42e3-97ea-3603f8a3af75,2022-08-02,c4222d76-1e59-486a-8420-a59aa1117712,2022-08-08,16946
1,87505,WYSBCJP5,75331728-d146-4bb7-b09e-c8a98f7575f0,2021-04-25,51ccde78-1c40-4851-aa7c-9b4845a0518d,2021-04-27,6186
2,95505,W2JRMN60,6b4a6590-dfd7-4e70-9a0a-6215bb3c9537,2021-12-18,c4222d76-1e59-486a-8420-a59aa1117712,2021-12-19,13680
3,5114,F9L9X5FW,e0551b66-7764-4e75-8be6-7bce9a593ec9,2022-12-10,245c339a-1e0e-4e65-87be-883397ec61a4,2022-12-12,12123
4,2965,IQVOSQRH,a0592947-db33-4289-b452-fc90e6822ab1,2022-08-31,061f6dd6-489c-4a39-ad52-6887b648b541,2022-09-05,18905
...,...,...,...,...,...,...,...
95,3960,PT9538IN,5ce8235f-fa48-4bb2-a452-9f6cdac37d99,2023-03-22,245c339a-1e0e-4e65-87be-883397ec61a4,2023-03-23,11102
96,77115,NYRXYXG1,b472ad1f-5288-435a-933a-ad25b4d8914e,2021-08-29,2b3a7bf2-022c-409b-8cf9-740fc5551350,2021-09-02,11347
97,14005,032WEO0U,4d0617e3-05df-430b-aa75-9ab6e38e72b4,2021-09-18,63fc8dae-7f58-4b01-b290-c4a2ede076aa,2021-09-20,10231
98,67939,TMUWND1W,4d0617e3-05df-430b-aa75-9ab6e38e72b4,2023-08-12,061f6dd6-489c-4a39-ad52-6887b648b541,2023-08-14,13027
99,1459,X5TCW3QI,df623982-834b-4088-a83c-4ac753e7019f,2022-10-15,51ccde78-1c40-4851-aa7c-9b4845a0518d,2022-10-23,14157

In [15]:
# Create Orders table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Orders (
    order_id INT,
    customer_id VARCHAR(255), 
    payment_id VARCHAR(300),
    order_date DATE,
    shipper_id VARCHAR(300),
    delivery_date DATE,
    total_order_amount INT
    )
""")
print("Orders table created successfully")

Orders table created successfully

In [16]:
orders.to_sql('Orders', con=engine, if_exists='append', index=False)

C:\Users\Akanksha\AppData\Local\Temp\ipykernel_50324\2340971891.py:1: UserWarning: The provided table name 'Orders' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  orders.to_sql('Orders', con=engine, if_exists='append', index=False)

100

In [17]:
category  = pd.read_csv("category_df.csv")
category

                             category_id            CategoryName
0   947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2               PVC Pipes
1   1c5d3e4b-fc8d-410d-8716-0ee17db7e95b              CPVC Pipes
2   adc621ef-594f-4e7f-b385-856374e5dbfb              UPVC Pipes
3   fa4aaf75-b3eb-449d-9a68-85c3a9dc43b9               PEX Pipes
4   a80e36d8-053c-46d4-970a-736306bc5db2              HDPE Pipes
5   d653b98b-bf5b-4f5a-9386-05fe11f5566e              LDPE Pipes
6   5992d164-f976-4251-b6d7-d0300ea89302               PPR Pipes
7   420f2c0b-ca85-45b2-8fb0-09674d193224  Galvanized Steel Pipes
8   23e04cf0-7fdd-4fb5-8674-d3292af98844   Stainless Steel Pipes
9   6a8f776a-18bf-4a54-aa22-c1a665c6fb6c            Copper Pipes
10  e5d3e91d-f121-43d5-8ada-da6de42b7a10          Aluminum Pipes
11  911c1082-c4fe-4409-b4a6-1f0a4954a2c2          Concrete Pipes
12  4a248ece-5b18-4253-998d-adfb1dc5b767         Cast Iron Pipes
13  88a37cad-1460-4561-80ea-9c61eb3ffa8e      Ductile Iron Pipes
14  b84069c3-ade2-4403-886b-fd5a6c79f8ec     Polypropylene Pipes

In [18]:
# Create Category table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Category (
    category_id VARCHAR(300),
    CategoryName VARCHAR(255) 
    
    )
""")
print("Category table created successfully")

Category table created successfully

In [19]:
category.to_sql('category', con=engine, if_exists='append', index=False)

15

In [20]:
product  = pd.read_csv("product_df.csv")
product

,product_id,product_name,category_id,price
0,4EY909UJP,FlowGuard Gold CPVC Pipe,911c1082-c4fe-4409-b4a6-1f0a4954a2c2,8588
1,L2KQWAARW,AquaPex PEX Pipe,947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2,4849
2,J1MZAYHBF,Duraflex PVC Pipe,911c1082-c4fe-4409-b4a6-1f0a4954a2c2,4476
3,RZ4ZCRP1Q,MegaFlow HDPE Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,9831
4,6XZGQYLRG,ProGuard UPVC Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,9371
5,VC668QOZO,ThermoShield PPR Pipe,e5d3e91d-f121-43d5-8ada-da6de42b7a10,9401
6,7J4S9UCZW,TitanGalv Galvanized Steel Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,2385
7,N1NGKMAHG,UltraPure Stainless Steel Pipe,e5d3e91d-f121-43d5-8ada-da6de42b7a10,8580
8,0UILGE2CK,CopperFlex Pipe,947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2,4317
9,H2TQ7CM1R,AlumaStrong Aluminum Pipe,adc621ef-594f-4e7f-b385-856374e5dbfb,3194
10,WRFI7FSY8,ConcreteMax Pipe,d653b98b-bf5b-4f5a-9386-05fe11f5566e,8425
11,ZLTDN9N8M,CastIron Classic Pipe,911c1082-c4fe-4409-b4a6-1f0a4954a2c2,5430
12,U5I9WW50N,DuctileForce Iron Pipe,b84069c3-ade2-4403-886b-fd5a6c79f8ec,1503
13,12ANLRRNX,PolyFlow Polypropylene Pipe,947b5c4b-53c4-4e6f-8d3d-31b3038c1fe2,3891
14,B2P7BXH60,FlexiDrain LDPE Pipe,420f2c0b-ca85-45b2-8fb0-09674d193224,1373

In [21]:
# Create Product table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Product (
    product_id VARCHAR(300),
    product_name VARCHAR(255),
    category_id VARCHAR(255),
    price INT
    )
""")
print("Product table created successfully")

Product table created successfully

In [22]:
product.to_sql('product', con=engine, if_exists='append', index=False)

15

In [23]:
payments  = pd.read_csv("payments_df.csv")
payments

                              payment_id         Type
0   63035ccf-e7af-4cdf-a83d-1f89240f046c          UPI
1   5ce8235f-fa48-4bb2-a452-9f6cdac37d99  Net Banking
2   a8de9de6-eae0-4625-9d62-c288f15d278b  Credit Card
3   e89bab54-65bc-41e9-9073-8c004fcf2357  Credit Card
4   df89f848-c3af-4435-b2ea-35ed04188c13   Debit Card
..                                   ...          ...
95  706be7b4-3570-4c2d-91be-3f58702b4ab2  Credit Card
96  add0cdf0-ab7b-4863-9473-3edf6a4d34e8  Net Banking
97  b472ad1f-5288-435a-933a-ad25b4d8914e          UPI
98  c960597a-6c90-4c7b-8b7f-5eced7c0a652  Net Banking
99  c69f2868-fe0e-41ce-b450-4bfbccf85413  Net Banking

[100 rows x 2 columns]

In [24]:
# Create Payment table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Payment (
    product_id VARCHAR(300),
    Type VARCHAR(255)
    )
""")
print("Payment table created successfully")

Payment table created successfully

In [25]:
payments.to_sql('payments', con=engine, if_exists='append', index=False)

100

In [26]:
shippers  = pd.read_csv("shippers_df.csv")
shippers

,shipper_id,conmanyName,phone
0,00635192-9c26-47aa-ae6d-7fbde4b8ebb8,Blue Dart,001-225-869-3814x3484
1,c4222d76-1e59-486a-8420-a59aa1117712,DTDC,+1-605-286-5922x093
2,061f6dd6-489c-4a39-ad52-6887b648b541,Lufthansa Cargo,797.516.9419x45574
3,63fc8dae-7f58-4b01-b290-c4a2ede076aa,Fed Ex,386.938.1138x25321
4,3f2517df-ec47-43ca-9faf-0a7ca5441631,Delhivery,746-487-3355
5,ad162500-2290-4fb9-b5d0-48132cc11d1a,COSCO - China Ocean Shipping Company,927-532-3481x09292
6,2b3a7bf2-022c-409b-8cf9-740fc5551350,Hapag-Lloyd,(294)846-9808x250
7,245c339a-1e0e-4e65-87be-883397ec61a4,ONE - Ocean Network Express,242.551.2084x06708
8,51ccde78-1c40-4851-aa7c-9b4845a0518d,Evergreen Line,(375)279-4129x0113
9,68b5d010-a22b-4bc9-850f-11f469ad9266,Hyundai Merchant Marine,001-890-242-0117x567

In [27]:
# Create Shippers table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Shippers (
    shipper_id VARCHAR(300),
    conmanyName VARCHAR(255),
    phone VARCHAR(100)
    )
""")
print("Shippers table created successfully")

Shippers table created successfully

In [28]:
shippers.to_sql('shippers', con=engine, if_exists='append', index=False)

10

In [29]:
OrderDetails  = pd.read_csv("OrderDetails_df.csv")

In [30]:
# Create OrderDetails table
cursor.execute("""
CREATE TABLE IF NOT EXISTS OrderDetails (
    OrderDetails_id VARCHAR(300),
    orderid INT,
    product_id VARCHAR(300),
    quantity INT
    )
""")
print("OrderDetails table created successfully")

OrderDetails table created successfully

In [31]:
OrderDetails.to_sql('OrderDetails', con=engine, if_exists='append', index=False)

C:\Users\Akanksha\AppData\Local\Temp\ipykernel_50324\3716594986.py:1: UserWarning: The provided table name 'OrderDetails' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  OrderDetails.to_sql('OrderDetails', con=engine, if_exists='append', index=False)

250

In [32]:
reviews  = pd.read_csv("reviews_df.csv")
reviews

                              reviews_id product_id customer_id  rating
0   2c78608a-c958-4984-9e26-cc265d330f1e  VC668QOZO    T1YXW92G       3
1   e022014e-ed61-45d8-90e2-11fd8eb7ad29  U5I9WW50N    TMUWND1W       2
2   55745df3-6cce-4411-9340-753f9f194e80  VC668QOZO    X5TCW3QI       3
3   5a0aed78-ec4a-42c8-80aa-01c12c793663  H2TQ7CM1R    86HA3OOD       4
4   7e622a5a-0b77-4acc-ab2b-24678d4b9941  N1NGKMAHG    HDEZHB94       2
..                                   ...        ...         ...     ...
95  50f0c9c6-c077-4815-9f7d-f22b39be7fa7  WRFI7FSY8    URXUQLEB       5
96  af00a99f-b889-4166-82ef-be77e3d222f0  L2KQWAARW    S92DJGDD       4
97  552014b4-2643-4442-b05e-517cb290df46  7J4S9UCZW    F09D91DS       3
98  34a461d9-7d18-49ec-ab25-24beb8b4bd59  7J4S9UCZW    7L0H3AO6       1
99  8e98db7a-7c02-4b03-bc9a-cbd7dc8db000  0UILGE2CK    QHOP9FKT       1

[100 rows x 4 columns]

In [33]:
# Create Reviews table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Reviews  (
    reviews_id VARCHAR(300),
    product_id VARCHAR(255),
    customer_id VARCHAR(255),
    rating INT
    )
""")
print("Reviews table created successfully")

Reviews table created successfully

In [34]:
reviews.to_sql('reviews', con=engine, if_exists='append', index=False)

100